<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>País</th>
        <th>Capital</th>
        <th>Poblacion</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        @for (country of countries(); track country.id; let index = $index) {
          <tr>
            <th>{{ index + 1 }}</th>
            <td>{{ country.flag }}</td>
            <td>
              <img
                [src]="country.flagsSvg"
                [alt]="country.name"
                class="h-10 rounded-md"
              />
            </td>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>
              <span class="badge badge-secondary">
                {{ country.population | number }}
              </span>
            </td>
            <td>
              <a
                [routerLink]="['/country/by', country.id]"
                class="link-primary cursor-pointer"
              >
                Más información
              </a>
            </td>
          </tr>
        }

        @if (errorMessage()) {
          <tr>
            <td colspan="8" class="text-center">
              {{ errorMessage() }}
            </td>
          </tr>
        }
        <!-- No se encontraron países -->
        @if (countries().length === 0 && !isLoading()) {
          <tr>
            <td colspan="8" class="text-center">
              No se encontraron países.
            </td>
          </tr>
        }
        <!-- loading -->
        @if (isLoading()) {
          <tr>
            <td colspan="8" class="text-center">
              Buscando paises...
            </td>
          </tr>
        }

    </tbody>
  </table>
</section>
