nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(21, 21, 21);
  color: white;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.active {
  font-weight: bold;
  color: crimson;
  text-decoration: underline;
}
